.main-header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background-color: #FFD700;
}

.main-header  {
  margin-top: 0;
  color: #fff;
}

.panel-heading {
  background-color: #FFD700;
}

.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color :#FFD700;
  color: #fff;
}

.heart {
  a {
      color: #ff0000;
      transition: 0.5s;
    }
    a:hover {
      color: #000000;
      transition: 0.5s;
      text-decoration: none;
    }
}

.words-pannel {
  margin-top: 10px;
}

.avatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  float: left;
  margin-right: 18px;
  cursor: default;
}
